**/Android/ARM/
**/Build/UWP/StaticDebug/
**/Build/UWP/StaticRelease/
**/Build/UWP/StaticReleaseTools/
/libs/win32/fbxsdk/include/
/libs/win32/fbxsdk/lib/
/libs/cross_platform/tiff/html/
/libs/cross_platform/tiff/man/
/libs/cross_platform/tiff/test/
/scripts/Doxygen/KigsDocsGenerated/
/framework/PlatformsModules/Android/Platform/Main/kigsmain/ARM64/
framework/PlatformsModules/Android/Platform/Main/kigsmain/ARM/StaticRelease/kigs.kigsmain.androidprojAssemblyReference.cache
**/*.bak
**/*.*.bak
